<!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Heeft u interesse in samenwerking of wilt u een technisch vraagstuk bespreken?  
Ik denk graag mee over freelance opdrachten, onderzoeksprojecten en adviestrajecten.  
Neem gerust contact op via onderstaand e-mailadres.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-5">

            <div class="info-wrap">
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>E-mailadres</h3>
                  <p>mail@reussoftwaredevelopment.nl</p>
                </div>
              </div><!-- End Info Item -->

            </div>
          </div>

        </div>

      </div>

    </section><!-- /Contact Section -->