<!-- Hero Section -->
    <section id="home" class="hero section dark-background">

    <picture>
  <source srcset="assets/img/hero-bg-4.webp" data-aos="fade-in" type="image/webp">
  <img src="assets/img/hero-bg-4.jpg" data-aos="fade-in" alt="Hero background">
</picture>
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2>Bas Reus</h2>
        <p>Hallo, ik ben <span class="typed" data-typed-items="Freelancer, Softwareontwikkelaar, Onderzoeker">Freelancer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
      </div>

    </section><!-- /Hero Section -->