<!-- Hero Section -->
    <section id="home" class="hero section dark-background">

      <img src="assets/img/hero-bg-4.jpg" alt="" data-aos="fade-in" class="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2>Bas Reus</h2>
        <p>Hallo, ik ben <span class="typed" data-typed-items="Freelancer, Softwareontwikkelaar, Onderzoeker">Freelancer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
      </div>

    </section><!-- /Hero Section -->