<section id="projects" class="py-5 bg-light">
    <div class="container">
              <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Projecten (selectie)</h2>
      </div><!-- End Section Title -->
        <div class="row">
            <div class="col-md-6">
                <h5>Herbouw legacy systeem Ministerie van Buitenlandse Zaken</h5>
                <p>Migratie naar .NET en Kubernetes, inclusief volledige datamigratie.</p>
            </div>
            <div class="col-md-6">
                <h5>Hostingmigratie overheidssystemen</h5>
                <p>Overgang van Windows naar Kubernetes, herinrichten pipelines (Azure → GitLab).</p>
            </div>
            <div class="col-md-6">
                <h5>Ontwikkeling invoersystemen wetgeving</h5>
                <p>MVC webapplicatie met complexe koppelvlakken, o.a. voor authenticatie en publicatie.</p>
            </div>
            <div class="col-md-6">
                <h5>XML-publicatie services</h5>
                <p>Genereren en publiceren van complexe wetswijzigingen als XML.</p>
            </div>
            <div class="col-md-6">
                <h5>Social netwerkanalyses</h5>
                <p>Onderzoek naar patronen van online samenwerking.</p>
            </div>
            <div class="col-md-6">
                <h5>IT Assessments</h5>
                <p>Adviesrapporten IT landschap.</p>
            </div>
        </div>
    </div>
</section>
