<section id="publications" class="py-5">
    <div class="container">
        <h2>Publicaties</h2>
        <ul>
            <li>
                <strong>Bridging the gap: Brokering online organizational groups (PhD thesis)</strong> (2024).
                <a href="https://doi.org/10.5463/thesis.450">DOI 10.5463/thesis.450</a>
            </li>
            <li>
                <strong>Knowledge sharing quality on an enterprise social network: Social capital and the moderating effect of being a broker</strong> (2023).
                <a href="https://doi.org/10.1108/JKM-02-2023-0115">DOI 10.1108/JKM-02-2023-0115</a>
            </li>
            <li>
                <strong>Expanding organisational knowledge online: The role of bridging members in knowledge expansion in online groups</strong> (2020).
                <a href="https://doi.org/10.1080/14479338.2020.1840381">DOI 10.1080/14479338.2020.1840381</a>
            </li>
        </ul>
    </div>
</section>
