
    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>CV</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Opleiding</h3>
            <div class="resume-item">
              <h4>PhD &ndash; Organisatiewetenschappen</h4>
              <h5>2012 - 2024</h5>
              <p><em>Vrije Universiteit Amsterdam</em></p>
              <p>Proefschrift over connectiviteit en kennisdeling binnen zakelijke netwerken.</p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>MSc &ndash; Informatiekunde</h4>
              <h5>2004 - 2006</h5>
              <p><em>Universiteit van Amsterdam</em></p>
              <p>Thesis over digitale producten, overvloed en personalisering.</p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>B ICT &ndash; Software Engineering</h4>
              <h5>2001 - 2004</h5>
              <p><em>Hogeschool van Amsterdam</em></p>
              <p>Praktijkgerichte opleiding softwareontwikkeling.</p>
            </div><!-- Edn Resume Item -->

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Professionele ervaring (als zelfstandige)</h3>
            <div class="resume-item">
              <h4>Freelance technisch specialist</h4>
              <h5>2014 – heden</h5>
              <p><em>Reus Software Development, Hilversum</em></p>
              <ul>
                <li>Veel ervaring bij ministeries en overheden</li>
                <li>Werken met SAFe en Kubernetes</li>
                <li>Technisch teamlead en bruggenbouwer tussen disciplines</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Zelfstandig onderzoeker</h4>
              <h5>2024 – heden</h5>
              <p><em>Vrije Universiteit, Amsterdam</em></p>
              <ul>
                <li>Sociale netwerken en online kennisdeling</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Eigenaar en mede-oprichter Foundeers</h4>
              <h5>2017 – 2022</h5>
              <p><em>Foundeers, Hilversum</em></p>
              <ul>
                <li>Opzetten van fondsenwervingsconcept</li>
                <li>Volledige softwareontwikkeling (Azure Cloud, Angular)</li>
              </ul>
            </div><!-- Edn Resume Item -->

          </div>

        </div>

      </div>

    </section><!-- /Resume Section -->
