<section id="services" class="py-5 bg-light">
    <div class="container">
              <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Diensten</h2>
      </div><!-- End Section Title -->
        <div class="row">
            <div class="col-md-6">
                <h5>Softwareontwikkeling</h5>
                <p>Van nieuwbouw tot migraties, advies en onderhoud.</p>
            </div>
            <div class="col-md-6">
                <h5>Consultancy & Advies</h5>
                <p>Implementatie van CI/CD, software-audits, security reviews en migratiebegeleiding.</p>
            </div>
            <div class="col-md-6">
                <h5>Onderzoek</h5>
                <p>Academisch en praktijkgericht onderzoek naar sociale netwerken en digitale samenwerking.</p>
            </div>
        </div>
    </div>
</section>
