<nav id="navmenu" class="navmenu">
  <ul>
    <li><a href="#home" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
    <li><a href="#about"><i class="bi bi-person navicon"></i> Over</a></li>
    <li><a href="#services"><i class="bi bi-hdd-stack navicon"></i> Diensten</a></li>  
    <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i> CV</a></li>
    <li><a href="#projects"><i class="bi bi-images navicon"></i> Projecten</a></li>      
    <li><a href="#contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
  </ul>
</nav>
